:root {
   text-align: center;
   background: url('https://www.themoviedb.org/t/p/original/wKK5cmKodGSjvNKZXchJnAZxAKt.jpg') ;
   background-size: cover;
   /* min-width: 400px; */
   height: 100%;
} 
